@media (max-width: 1439px) {    
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;

    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            &_item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 400px);
            column-gap: 100px;
        }        
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            margin-top: 60px;
            grid-template-columns: repeat(2, 450px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            &-line {
                width: auto;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &_item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: auto;            
        }        
    }
    .skills {
        &__items {
            padding: 0 20px;
        }
        &__ratings {
            grid-template-columns: repeat(2, 350px);
            justify-content: space-between;
        }
    }
    .portfolio {
        &__list {            
            &_items {
                grid-template-columns: repeat(auto-fit, 310px);
                padding-left: 30px;
                
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {        
        &_fz48 {
            font-size: 28px;
        }        
        &_fz14 {
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset; 
            img {
                object-fit: contain;
            }           
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &_item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .skills {
        padding-top: 40px;
        &__items {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__item {
           display: grid;
           justify-items: center;
           p {
            font-size: 18px;
            font-weight: 300;            
            line-height: 20px;
            text-shadow: 2px 2px 2px rgb(0, 0, 0);
           }
        } 
        &__ratings { 
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-title {
                font-size: 17px;
            }
            &-counter {
                font-size: 17px;
            }
            &-item {
                width: 100%;
                row-gap: 20px;  
            }
        } 
    }
    .portfolio {
        padding-top: 40px;
        &__list {
            padding-top: 40px;
            &_items {
                margin-top: 20px;
                justify-content: center;
            }
            &-title {
                font-size: 14px;
            }
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;        
    }
    .title {        
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57% / cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {       
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 10px 40px 10px;         
        }        
    }
    .skills {
        &__items {
            margin-top: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,300px);
        }  
    }
    .portfolio {        
        &__list {            
            &_items {
                    grid-template-columns: repeat(auto-fit, 270px);
            }
        }
    }
    .contacts {
        padding-bottom: 50px;       
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }        
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            margin: 0 auto;
            max-width: 220px;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}

